vendor/**
debug.test
.idea/**
.vscode/**
cmd/liquiddb/debug

driver/javascript/.fusebox/**
driver/javascript/node_modules/**
driver/javascript/test.html
driver/javascript/dist/**
driver/javascript/.vscode/**